name: Ruff Format Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Checkout your repository code

      - name: Install Ruff
        # You can use the official action for installation and running
        uses: astral-sh/ruff-action@v3
        with:
          src: './server'
